@use '../styles/variaveis.scss';
@use '../styles/mixins.scss';
@use '../styles/nosso_espaco.scss';
@use '../styles/servicos.scss';
@use '../styles/desconto';
@use '../styles/contatos.scss';


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: variaveis.$gradiente-primario;
    padding: 2rem;
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
        .linha{
           border-top: 1px solid black; 
           width: 80%;
        }

        ul{
            display: inline-flex;
            gap: 2rem;
            li{
                list-style-type: none;
            }
            a{
                text-decoration: none;
                @include mixins.ff-fs-color(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
                font-weight: 500;
            }
        }
    }
    #home{
        max-width: 1040px;
        @include mixins.margem-central(80%);
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .textos-home{
            max-width: 464px;
            h1{
                font-size: 42px;
                color: variaveis.$cor-primaria;
                margin-bottom: 2rem;
                font-family: variaveis.$ft-titulos;
                span{
                    color: variaveis.$cor-secundaria;
                }
            }
            .btn-main{
                width: 280px;
                height: 66px;
                border-radius: 40px;
                padding: 24px;
                gap: 10px;
                background-color: variaveis.$cor-secundaria;
                color: #FFFFFF;
                font-family: variaveis.$ft-textos;
                font-weight: 600;
                font-size: 22px;
                line-height: 18px;
            }
        }
        .img-home{
            max-width: 474px;
            img{
                width: 100%;
            }
        }
    }
}